.page.theme_dark {
  --bg-color: #00183f;
  --accent-color: #ff0070;
  --tape-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --shadow-color: #ff0070;
  --shadow-title-color-big: #ff0070;
  --shadow-title-color-small: #ff0070;
  --subtitle-color-add: #000028;
  --subtitle-color-main: #ff0070;
  --text-color-head: #ff0070;
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__theme-menu-button:focus {
  outline: none;
}

.theme_dark .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid #ff0070;
}

.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.theme_dark .header__theme-menu-button_type_dark {
  outline: 1px solid #ff0070;
  padding: 3cqw 12px;
}

.theme_dark .header__theme-menu-button_type_light {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .page {
    --bg-color: #00183f;
    --accent-color: #ff0070;
    --tape-color: #ff0070;
    --text-color: #f1b2ce;
    --title-color: #db00ff;
    --shadow-color: #ff0070;
    --shadow-title-color-big: #ff0070;
    --shadow-title-color-small: #ff0070;
    --subtitle-color-add: #000028;
    --subtitle-color-main: #ff0070;
    --text-color-head: #ff0070;
    background-image: url(../images/cover-image-dark.png);
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid #ff0070;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(255, 0, 112, 0.4);
  }

  .header__theme-menu-button_type_dark {
    outline: 1px solid #ff0070;
    padding: 3px 12px;
  }

  .header__theme-menu-button_type_light {
    outline: none;
  }
}
