body {
  font-family: "IBM Plex Mono", monospace;
  background-color: var(--bg-color, #fff1f7);
}

.page {
  margin: auto;
  max-width: 1024px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../images/cover-image-light.png);
}

.header {
  width: 100%;
  box-sizing: border-box;
  min-height: 668px;
  height: 100vh;
  padding: var(--blanco);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  grid-template-areas:
    "header-menu"
    "header__title"
    "header__subtitle";
}

.title-decor {
  background-color: var(--accent-color, #ff8dcb);
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: center;
  grid-area: header-menu;
  position: relative;
}

.header__theme-menu-list {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  gap: 26px;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--text-color-head, #353430);
  border-top: 1px solid var(--text-color-head, #353430);
  top: var(--blanco, 20px);
  right: var(--blanco, 20px);
}

.decorated-zone::after {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--text-color-head, #353430);
  border-bottom: 1px solid var(--text-color-head, #353430);
  bottom: var(--blanco, 20px);
  left: var(--blanco, 20px);
}

.header__theme-menu-item {
  display: flex;
  align-content: center;
  justify-content: center;
}

.header__theme-menu-button {
  display: block;
  text-transform: lowercase;
  background-color: inherit;
  font-size: var(--font-size, 18px);
  font-weight: var(--font-weight, 400);
  font-style: var(--font-style, normal);
  text-align: center;
  line-height: 18px;
  color: var(--text-color-head, #353430);
  cursor: pointer;
}
.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--text-color-head, #353430);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 1);
}

.header__theme-menu-button:active {
  outline: 1px solid var(--text-color-head, #353430);
  padding: 0 12px;
}

.header__decorated-element {
  display: flex;
  position: absolute;
  top: 20px;
  right: 48px;
}

.header__decorated-element-text {
  align-self: center;
  color: var(--tape-color, transparent);
  font-size: var(--font-size, 18px);
  font-weight: var(--font-weight, 400);
  font-style: var(--font-style, normal);
  text-transform: uppercase;
  line-height: 25px;
}

.header__decorated-element::after {
  display: flex;
  content: " ";
  top: 8px;
  margin-left: 43px;
  position: absolute;
  width: 9px;
  height: 9px;
  align-self: center;
  justify-self: center;
  border: 1px solid var(--tape-color, transparent);
  background-color: var(--tape-color, transparent);
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0 4px 3px var(--tape-color, transparent);
  color: var(--tape-color, transparent);
}

.header__title {
  display: flex;
  grid-area: header__title;
  align-self: center;
  justify-self: flex-start;
  color: var(--title-color, #ffc2e6);
  margin-left: -20px;
  text-shadow: 4px 4px 0px var(--shadow-title-color-big, #ff0070);
  font-size: var(--title-font-size);
  font-style: var(--font-style, normal);
  font-weight: 700;
  line-height: 82.5%;
  flex-wrap: nowrap;
}

.header__subtitle {
  display: flex;
  grid-area: header__subtitle;
  flex-direction: row;
  width: calc(50%);
  align-self: center;
  justify-self: flex-end;
  color: var(--subtitle-color-add, #353430);
  font-size: var(--font-size, 18px);
  font-style: var(--font-style, normal);
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.paragraf {
  margin-top: 20px;
  display: flexbox;
  flex-direction: column;
  gap: 10px;
}

.text {
  font-size: var(--font-size, 18px);
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: var(--text-color, #353430);
}

.text-decor {
  text-shadow: 2px 2px 0 var(--shadow-color, #ff8dcb);
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.text-decor::after {
  word-spacing: 0;
}

.text-decor:hover {
  border-bottom: 1px solid var(--text-color, #353430);
}

.text-decor:focus-visible {
  outline: 1px solid var(--text-color, #353430);
}

.subtitle {
  display: flex;
  font-size: var(--font-size, 18px);
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  color: var(--subtitle-color-main, #353430);
}

.subtitle-color-add {
  color: var(--subtitle-color-add, #353430);
}

.explanation {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  grid-template-areas: "exp-subtitle  exp-contents exp-contents";
}

.explanation__subtitle {
  grid-area: exp-subtitle;
}

.explanation__contents {
  margin-top: -20px;
  grid-area: exp-contents;
}

.reason {
  margin-top: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  grid-template-areas:
    "rea-subtitle .  . "
    " rea-contents rea-contents rea-contents";
}

.reason__contents {
  display: grid;
  flex-direction: row;
  column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  grid-area: rea-contents;
}

.reason__subtitle {
  grid-area: rea-subtitle;
}

.recommendation {
  margin-top: 80px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);
  column-gap: 20px;
  grid-template-areas:
    "rec-subtitle    rec-subtitle-advice  rec-subtitle-advice"
    " rec-subtitle rec-contents rec-contents";
}
.recommendation__subtitle {
  grid-area: rec-subtitle;
}

.recommendation__subtitle-advice {
  grid-area: rec-subtitle-advice;
}

.recommendation__contents {
  grid-area: rec-contents;
}

.picture {
  margin-top: 20px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.picture__load {
  display: block;
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.picture .picture__load:first-child {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: span 2;
}

.picture .picture__load:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 3;
  grid-column-end: span 1;
}

.picture .picture__load:nth-child(3) {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.picture .picture__load:nth-child(4) {
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 1;
}

.picture .picture__load:last-child {
  grid-row-start: 3;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 2;
}

.footer {
  display: flex;
  width: 100%;
  margin: auto;
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.footer__title {
  display: flex;
  color: var(--title-color, #ffc2e6);
  text-shadow: 4px 4px 0px var(--shadow-title-color-big, #ff0070);
  font-style: normal;
  font-size: var(--title-font-size);
  font-weight: 700;
  line-height: 82.5%;
  /* 129.525px */
}

@media screen and (width<822px) {
  .page {
    max-width: 768px;
  }

  .header__theme-menu {
    justify-self: self-end;
    align-self: center;
    margin-right: 6.5px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-self: center;
    gap: 13px;
    justify-self: center;
  }

  .header__title {
    text-shadow: 4px 4px 0px var(--shadow-title-color-small, #ff8dcb);
  }

  .explanation {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "exp-subtitle  exp-contents";
  }

  .reason {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "rea-subtitle .   "
      " rea-contents  rea-contents";
  }
  .reason__contents {
    grid-template-columns: 1fr;
    flex-direction: column;
    row-gap: 20px;
  }
  .recommendation {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "rec-subtitle      rec-subtitle-advice"
      "rec-subtitle      rec-contents";
  }

  .footer__title {
    text-shadow: 4px 4px 0px var(--shadow-title-color-small, #ff8dcb);
  }
}

@media screen and (375px<=width<630px) {
  .page {
    max-width: 375px;
  }

  .header {
    padding: 10px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .header__title {
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-size: var(--title-font-size);
  }

  .header__decorated-element {
    top: 10px;
    right: 38px;
  }

  .header__subtitle {
    width: 100%;
    justify-self: flex-start;
  }
  .contents {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;
  }

  .explanation {
    grid-template-columns: 1fr;
    grid-template-areas:
      "exp-subtitle"
      "exp-contents";
  }
  .explanation__subtitle {
    margin-bottom: 20px;
  }

  .reason {
    margin-top: 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "rea-subtitle"
      "rea-contents";
  }

  .recommendation {
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "rec-subtitle"
      "rec-subtitle-advice"
      "rec-contents";
  }

  .recommendation__subtitle {
    margin-bottom: 20px;
  }

  .picture {
    grid-template-columns: 1fr;
    margin-top: 10px;
    margin-bottom: 40px;
    row-gap: 10px;
  }

  .picture .picture__load:first-child {
    grid-column-end: span 1;
  }

  .picture .picture__load:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-column-start: 1;
  }

  .picture .picture__load:nth-child(3) {
    grid-row-start: 3;
    grid-row-end: span 1;
    grid-column-start: 1;
  }

  .picture .picture__load:nth-child(4) {
    grid-row-start: 4;
    grid-row-end: span 1;
    grid-column-start: 1;
  }

  .picture .picture__load:last-child {
    grid-row-start: 5;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
  }

  .footer {
    padding: 10px;
  }

  .footer__title {
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-size: var(--title-font-size);
  }
}
