font-family:'IBM Plex Mono', sans-serif;

body {
  /*
  background-color: bisque;
  */
}

.page {
 
  width: 1024px;
  min-height:100px;

  
  border:1px solid red;
  margin: auto;
  
 
}

button {
border:none;
}


:root {
  --accent-color: #dd00ff;
  --title-color: #ffc2e6;
  --shadow-color:#ff0070;

  --text-color: #353430;
  
  --font-family: IBM Plex Mono;
  --font-size:18px;
  --font-weight:400;
  --font-style:normal;
  --padding:20px;
}

.header {
  display:grid;
  height: 768px;
  margin: 20px;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  box-sizing: border-box; 
  grid-template-areas: 
                     'header-menu'
                     'header__title'
                     'header__subtitle';
                     
}
 
.title-decor {
  background-color: var(--accent-color,#dd00ff);

}


.header__theme-menu {
  display:flex;
  margin: auto;
   margin-top: 0;  
}

.header__theme-menu-list {
  flex-direction: row;
  justify-content:center;
  align-items: center;
  display:flex;
  align-self: center;
  margin: auto;
  gap:10px;
  grid-area: header-menu;
}

.header__theme-menu-list::after  {
  position: absolute;
  content: '';
  display: block;
  align-self: center;
  justify-self: center;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--bd-button-color,#353430);
  border-top: 1px solid var(--bd-button-color,#353430); 
  top: 0;
  right: 0;
}

.header__subtitle::before {
  position: absolute;
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--bd-button-color,#353430);
  border-bottom: 1px solid var(--bd-button-color,#353430); 
  bottom: 0;
  left: 0;
}

.header__theme-menu-item {
  display:flex;
  width:70px;
  height:23px;
  align-content: center;
  justify-content: center;
}
.header__theme-menu-item :hover{
  
  border: 1px solid var(--text-color,#353430);
  
}

.header__theme-menu-item :focus{
  outline:none;
  border-bottom: 1px solid var(--text-color,#353430);
}

.header__theme-menu-button {
  display: inline-block;
  background-color: inherit;
  font-size: var(--font-size, 18px);
  font-weight: var(--font-weight, 400);
  font-style: var(--font-style, normal);
  letter-spacing: 1.8px;
  justify-self: center;
  align-self: center;
  line-height: 18px;
  color: var(--text-color, #353430);
}

.header__decorated-element {
display: flex;
position: absolute;
width: 58px;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right:0;
  line-height: 25px;


}
.header__decorated-element-text {
display:flex;

width: 33px;
justify-self: center;
align-self: center;
height: 26px;
color: var(--text-color, #353430);
font-size: var(--font-size, 18px);
  font-weight: var(--font-weight, 400);
  font-style: var(--font-style, normal);

}

.header__decorated-element-circle {
  display:flex;
  padding-left: 0;
  width: 9px;
  height: 9px;
  align-self: center;
  justify-self: center;
  border: 1px solid var(--accent-color, #dd00ff);
  background-color: var(--text-color, #353430);
  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 4.5px;
  filter:drop-shadow(0px 0px 4px var(--text-color, #353430));
  color: var(--text-color, #353430);

}


.header__title {
  display: flex;
  grid-area: header__title;
  align-self: center;
  justify-self: flex-start;
  color: var(--title-color,#ffc2e6);
  text-shadow: 4px 4px 0px var(--shadow-color, #ff0070);
  font-family: var(--font-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  word-spacing: 13px;
  
  
  letter-spacing: 24px;

  
}

.header__subtitle {
  display: flex;
  grid-area: header__subtitle;
  flex-direction: row;
  
  width: 50%;

  align-self: center;
  justify-self: flex-end;
  color: var(--text-color,#353430);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  


  font-family: IBM Plex Mono;
font-size: 18px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0.1px;
text-align: left;
}




.contents {
  display:flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  margin-top: 80px;
  padding:0 var(--padding) 0;
  box-sizing: border-box;
}


.text {
  display: flex;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  letter-spacing: 2px;
  color: var(--text-color, #353430);
  
}

.subtitle {
  display: flex;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 2px;
  text-align: left;
  color: var(--text-color, #353430);
  
  
}
.explanation {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas:
           'exp-subtitle-first exp-article-first' 
           'exp-subtitle-first  exp-article-second';
}
  

.explanation__subtitle-first {

  display: inline-block;
  grid-area: exp-subtitle-first;
}

.explanation__article-first {

 
  display: inline-block;
  grid-area: exp-article-first;
}

.explanation__article-second {
  display: inline-block;
  grid-area: exp-article-second;
}



.reason {
  margin-top: 80px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 20px;
  
  
  grid-template-areas: 
                      'rea-subtitle-first . .'
                      'rea-article-first rea-article-second rea-article-third'
;
}

.reason__subtitle-first {
  display:inline-block;
 grid-area:rea-subtitle-first;
  width: 1fr;
  margin-bottom: 20px;
  
}
.reason__article-first {
  display: inline-block;
  grid-area: rea-article-first;
}

.reason__article-second {
  display: inline-block;
  grid-area: rea-article-second;
}

.reason__article-third {
  display: inline-block;
  grid-area: rea-article-third;
}

.recommendation {
  margin-top: 80px;
  margin-bottom: 80px;
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content min-content min-content min-content min-content min-content;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas:
   'rec-subtitle-first rec-subtitle-second'
   ' .  rec-article-first'
   ' .  rec-article-second'
   ' .  rec-article-third'
   ' .  rec-article-forth'
   ' .  rec-article-fifth'
   ;
}
.recommendation__subtitle-first {
  display:inline-block;
  grid-area: rec-subtitle-first;
}


.recommendation__subtitle-second {
  display: inline-block;
  grid-area: rec-subtitle-second;
  margin-bottom: 20px;
}

.recommendation__article-first {
  display: inline-block;
  grid-area: rec-article-first;
}

.recommendation__article-second {
  display: inline-block;
  grid-area: rec-article-second;
}
.recommendation__article-third {
  display: inline-block;
  grid-area: rec-article-third;
}

.recommendation__article-forth {
  display: inline-block;
  grid-area: rec-article-forth;
}

.recommendation__article-fifth {
  display: inline-block;
  grid-area: rec-article-fifth;
}


.picture{
  margin-top: 20px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 280px 315px 453px;
  row-gap: 20px;
  column-gap: 20px;
 


}

.picture__load {
display: block;

object-position: center;
object-fit: cover;
width: 100%;
height: 100%;

}

.picture__sunset {
 grid-row-start: 1;
grid-row-end: 1;

grid-column-start: 1;
grid-column-end: span 2;





}
.picture__tape {
 
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: 1;
}

.picture__ice-creame {

  
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 3;
  grid-column-end: span 1;
  
}



.picture__books {
  
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 1;
}

.picture__street {

  grid-row-start: 3;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 2;
}
.footer {

  display: flex;
  width: 1024px;
  margin: auto;
  position: relative;

  height: 768px;
padding: 20px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
}

.footer__title {
  display: flex;
  color: var(--title-color,#ffc2e6);
  text-shadow: 4px 4px 0px var(--shadow-color, #ff0070);
font-family: IBM Plex Mono;
font-size: 157px;
font-style: normal;
font-weight: 700;
line-height: 82.5%; /* 129.525px */
letter-spacing: 24px;
}
.footer::after  {
  position: absolute;
  content: '';
  display: block;
  align-self: center;
  justify-self: center;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--bd-button-color,#353430);
  border-top: 1px solid var(--bd-button-color,#353430); 
  top: 20px;
  right: 20px;
}

.footer::before {
  position: absolute;
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--bd-button-color,#353430);
  border-bottom: 1px solid var(--bd-button-color,#353430); 
  bottom: 20px;
  left: 20px;
}
