:root {
  --accent-color: #dd00ff;
  --title-color: #ffc2e6;
  --shadow-title-color: #ff0070;
  --shadow-color: #ff0070;
  --subtitle-color-main: #353430;
  --subtitle-color-add: #353430;
  --text-color-head: #353430;
  --text-color: #353430;
  --tape-color: transparent;
  --font-size: 18px;
  --font-weight: 400;
  --font-style: normal;
  --padding: 20px;
}





/*

:root {
  --accent-color: #dd00ff;
  --title-color: #ffc2e6;
  --shadow-color:#ff0070;
  --shadow-title-color: #ff0070;
  --subtitle-color-main:#000028;
  --subtitle-color-add:#ff0070;
  --text-color: #353430;
  --text-color-head:#353430;
  --tape-decor:transparent;
  --font-size:18px;
  --font-weight:400;
  --font-style:normal;
  --padding:20px;
}
*/