:root {
  --accent-color: #dd00ff;
  --title-color: #ffc2e6;
  --shadow-title-color: #ff0070;
  --shadow-color: #ff0070;
  --subtitle-color-main: #353430;
  --subtitle-color-add: #353430;
  --text-color-head: #353430;
  --text-color: #353430;
  --tape-color: transparent;
  --font-size: 18px;
  --font-weight: 400;
  --font-style: normal;
  --blanco: 20px;
  --bg-color: #fff1f7;
  --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  
}
